<% action = (band.persisted? ? band_url(band) : bands_url) %>
<% method = (band.persisted? ? :patch : :post) %>
<% button_value = (band.persisted? ? 'Edit band' : 'Create band') %>


<form action='<%= action %>' method='post' >
  <input name='authenticity_token' type='hidden' value='<%= form_authenticity_token %>' />
  <input name='_method' type='hidden' value='<%= method %>'>

  <label for='band_name'>Name</label>
  <input
    type='text'
    name='band[name]'
    id='band_name'
    value='<%= band.name %>'>

  <input type='submit' value='<%= button_value %>'>
</form>
