<a href='<%= bands_path %>'>Back to all bands</a>
<br>
<br>
Welcome to Band profile page!

<p>Band name: <%= @band.name %>!</p>
<a href='<%= edit_band_path %>'>Edit Band</a>
<br>
<a href='<%= new_band_album_path(@band) %>'>Add new album</a>
<br>

<p>Discography:</p>
<p>
  <ul>
    <% @band.albums.each do |album| %>
      <li>
        <a href='<%= album_path(album) %>'>
          <%= album.name %>
        </a>
      </li>
    <% end %>
  </ul>
</p>
