<!DOCTYPE html>
<html>
  <head>
    <title>PersonalGoalsAppProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/alerts'%>

    <% if current_user %>
      <%= render 'shared/user_logout' %>
      <p><%= link_to 'New goal', new_goal_path unless params[:action] == 'new' %></p>
    <% else  %>
        <p><%= link_to 'Sign up', new_user_path %></p>
        <p><%= link_to 'Log in', new_session_path %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
