<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      <ul>
        <li>Logged in as: <%= current_user.email %></li>
        <li>
          <form action="<%= session_url %>" method="POST">
            <input type="hidden"
                  name="authenticity_token"
                  value="<%= form_authenticity_token %>">
            <input type="hidden" value="delete" name="_method" />
            <input type="submit" value="Logout" />
          </form>
        </li>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
