<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render partial: 'shared/logout' %>
    <% else %>
      <h2><a href='<%= new_user_path %>'>Register</a></h2>
      <h2><a href='<%= new_session_path %>'>Login</a></h2>
    <% end %>
    <%= yield %>
  </body>
</html>
