<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/errors' %>

    <% if current_user %>
      Hello, <b><%= current_user.username =%></b>!
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">

        <input type='submit' value='Logout'>
      </form>
    <% else %>
      <%= render 'sessions/form', session: @session %>
    <% end %>


    <%= yield %>
  </body>
</html>
