<% author_logged_in = (current_user == goal.user) %>

<ul>
  <li>Owner: <%= goal.user.email %></li>
  <li>Title: <%= goal.title %></li>
  <li>Description: <%= goal.description %></li>
  <li>Goal privacy: <%= goal.private? ? 'Private' : 'Public' %>
    <%= render 'goals/privacy_button', goal: goal if author_logged_in %>
  </li>
  <li>Goal completedness: <%= goal.completed? ? 'Completed' : 'In progress' %>
    <%= render 'goals/complete_button', goal: goal if author_logged_in %>
  </li>
</ul>
<p>
  <form action='<%= goal_path(goal) %>' method='POST' >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
  <input name='_method' type='hidden' value='DELETE'>
  <input type='submit' value="Delete '<%= goal.title %>' goal">
</p>
<br>
